.courseTypes {
  height: 100px;
  width: 100%;
  border: 1px solid transparent;
  margin-top: 5px;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 10px;
  color: whitesmoke;
  background-color: darkorange;
}

.courseTypes p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.curriBox {
  display: flex;
  margin: auto;
  height: 450px;
  width: 90%;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  gap: 2%;
}

.curriBox > div {
  height: 200px;
  width: 30%;
  margin-top: 1%;
  margin-left: 1%;
  border: 1px solid;
}

.curriBox img {
  width: 100%;
}

/* .langBoxes {
  background-color: cadetblue;
} */
