.footerDiv {
  height: 630px;
  width: 100%;
  background-color: rgb(33, 35, 39);
}

.flex {
  display: flex;
  gap: 2%;
  justify-content: center;
}

.flex > div {
  margin-top: 4%;
  height: 160px;
  width: 22%;
  /* border-left: 1px solid gray; */
}

.fafes {
  height: 50px;
  width: 60px;
  text-align: center;
  padding-top: 2%;
  background-color: white;
  margin-left: 40%;
}
.fafes i {
  font-size: 34px;
}
.fafes:hover {
  background-color: darkorange;
}

.caption {
  text-align: center;
}

.caption p:nth-child(1) {
  font-size: 22px;
  color: white;
  line-height: 2%;
}

.caption p:nth-child(2) {
  font-size: 14px;
  color: white;
  text-align: center;
}

.actualFooter {
  display: flex;
  height: 350px;
  width: 100%;
  /* border: 1px solid red; */
  /* text-align: center; */
  color: white;
}

.actualFooter > div {
  margin: auto;
  margin-top: 2%;
  height: 300px;
  width: 22%;
  /* border: 1px solid; */
}

.actualFooter p {
  text-align: justify;
  color: gray;
  line-height: 140%;
}

.actualFooter ul {
  text-align: left;
  color: gray;
  line-height: 200%;
}

.actualFooter ul a {
  text-decoration: none;
  color: gray;
}

.actualFooter ul a:hover {
  color: darkorange;
}

.actualFooter li:hover {
  color: darkorange;
}

#githubLink {
  color: white;
  margin-left: 47%;
}

#githubLink a {
  color: white;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

#githubLink a:hover {
  color: white;
}
